body {
    margin: 0;
}


#topbar {
    border: 1px solid blue;
    padding: 30px;
    background: #aaa;
}

#topbar .inner {
    padding: 10px ;
    border: 1px solid green;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

#topbar .logo {
    width: 50px;
    height: 50px;
    background: #ccc;
    margin-right: 10px;
}

#topbar .sologn {
    flex-grow: 1;
    text-align: center;
    border: 1px solid;
    margin-right: 10px;
}

main {
    max-width: 900px;
    min-height: 100px;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

p {
    max-width: 900px;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

p span {
    border: 1px solid #000;
/*    margin: 0 5px;*/
}


.parent {
    max-width: 900px;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.parent span {
    border: 1px solid #000;
}
